:host::ng-deep.ant-table-tbody >tr:nth-child(odd){
  background-color:#f9f9f9 !important;
  
}
:host::ng-deep.ant-table-tbody >tr:nth-child(even){
  background-color: #ffffff;
}
.table-list{
  position: relative;  
  height: 100%;
    background-color: #ffffff;
}
  .bCard{
    /* min-height:680px; */
    margin: 0px 0px; 
    background: #ffffff;
    /* border-bottom:1px solid #4b4b4b; */
  }
  .white_nowrap{
    white-space: nowrap;
  }
  .ant-input-affix-wrapper .ant-input{
    border-radius: 5px;
  }