.basic_info{
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    float: left;
    width: 100%;
    height: auto;
}
.basic_title{
    background-color: #2fa4e7;
    /* opacity: .5; */
    color: #fff;
    font-size: 18px;
    padding-left: 30px;
    line-height: 60px;
    text-align: left;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content: " ";
    clear:both;
    height:0;
}
.inputBaseAmount{
    max-width: 250px;
}
.inputBaseMobile{
  max-width: 183px;
}
.select-base{
  width: 250px;
  float: left;
  top: 0px;
  margin-left: 0px;
  /* padding: 0px 10px; */
  padding-left: 0px;
}
.phone-select {
  width: 70px;
}
.basic_detail{
    padding-top: 30px;
    position:inherit;
}


.text-center{
    text-align: center;
    
  }
  .btnGroup{
    /* position: relative; */
    left: 0;
    right: 0;
    bottom: 0px;
    top:0px;
  }
  .baseBtn{
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    border: none;
    margin-right: 20px;
    margin-top:5px;
    width: 190px;
    cursor: pointer;
  }
  .btnd{
    background-color: #2fa4e7;
    margin: 40px 20px;
    outline: none;
  }
  .btnd1{
    background-image:linear-gradient(linear,0 0,0 100%,from(#fff),color-stop(5%,#fff),to(#fff));
    margin: 40px 20px;
    outline: none;
  }