.main-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to left, #0689fd 30%, #29bdd9 100%);
   /* background-image:linear-gradient(to left, #f9eff3 30%, #f7f0f0 100%); */
  
}
.layout-passport {
  width: 430px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0rem 0.2rem 0.4rem 0rem 
        rgba(0, 0, 0, 0.16);
 
}
h2 {
  text-align: center;
}

.layou-logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: url(../../../assets/imgs/logo-1.png) center no-repeat;
  background-size: 100% 100%;
  margin: 10px auto;
}
.accout-slogon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  font-size: 12px
}
.account-login {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-form{
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}
[nz-form] {
  max-width: 600px;
}
::ng-deep.ant-input{
  width: 250px;
}
/* .login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 50%;
}
button {
  margin-left: 8px;
}
nz-spin {
  display: inline-block;
  margin-right: 16px;
} */
.content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55;
}
.login_main{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
.login_main:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color:aliceblu;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.login-form {
  max-width: 300px;
}
.form-login{
  position: relative;
  text-align: -webkit-center;
  margin-top: 20px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}


.login_c{
  /* min-width: 1200px; */
  /* width: 1200px; */
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
}

.close{
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

.login_left p{
  margin-top: 3px;
  margin-bottom: 0px;
}
.login_logo{
  text-align: center;
  margin-top: 18px;
}
.login_form{
  padding-top: 10px;
}

.relative{
  position: relative;
}
.form_input:focus{
  border-color: #00cbff;
}
.input-block{
  display: block;
  width: 100%;
}
.form-code{
  padding-right: 100px;
}
.code{
  position: absolute;
  top: 13px;
  right: 20px;
  width: 67px;
  height: 24px;
}
.mt-20{
  margin-top: 20px;
} 

.clearfix:after{
  content: '';
  height: 0;
  clear: both;
  display: block;
  font-size: 0;
  visibility: hidden;
}

.pointer{
  cursor: pointer;
}



.register{
  color: #e31414;
  cursor: pointer;
}

.wechatLogin{
  margin-left: 36px;
}
.pcode{
  color: #fff;
  width: auto;
  font-size: 16px;
  background: transparent;
  border: none;
}
.pcode:focus{
  border:none;
  outline: none;
}
button:focus{
  border:none;
  outline: none;
}
.loginContent{
  position: relative;
  text-align: center;
  /* position: absolute;
  bottom: 5%;
  right: 0%;
  width: 340px;
  z-index: 4; */

}
.form_input{
  height: 50px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding-left: 20px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  
}

.form-group{
  margin-top: 20px;

}
.mt-30{
  margin-top: 20px;
}
.otherlogin{
  text-align: center;
  color: #fff;
  font-size:14px;
  padding-top: 20px;
}
.btn{
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #d85252;
  border-radius: 4px;
  border: none;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}
.pright{
  float: right;
  color: #c1c1c1;
  font-size: 14px;
}
.right{
  float: right;
  color: #fff;
  font-size: 16px;
  
}
.login_left{
  position: absolute;
  bottom: 78px;
  left: 0;
  width: 520px;
  font-size: 14px;
  color:#c1c1c1;
}
.login_logo>img{
  width: 120px;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
@media screen and (min-width: 960px){
  .login_c{
    width: 90%;
  }
 
  .loginContent{
    /* right: 0;
    width: 340px; */
  }
  .mt-30{
    margin-top: 10px;
  }
  .form-group{
    margin-top: 10px;
  }
  .login_logo>img{
    width: 120px;
  }

  .pright{
    font-size: 14px;
  }
  
  .login_left{
    position: absolute;
    bottom: 78px;
    left: 0;
    width: 520px;
    font-size: 14px;
    color:#c1c1c1;
      
    
  }
  .login_logo>img{
    width: 120px;
  }
  .form-group{
    margin-top: 42px;
  
  }
  .form_input{
    height: 44px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding-left: 30px;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    
  }
  .mt-30{
    margin-top: 30px;
  }
  .otherlogin{
    text-align: center;
    color: #fff;
    font-size:16px;
    padding-top: 40px;
  }
  .btn{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #d85252;
    border-radius: 4px;
    border: none;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }
  .pright{
    float: right;
    color: #c1c1c1;
    font-size: 14px;
  }
  .right{
    float: right;
    color: #fff;
    font-size: 14px;
    
  }
  
}
@media screen and (min-width: 1300px){
  .login_c{
    min-width: 1200px;
  }
  .login_left{
    left:0%;
    font-size: 20px;
    width: 660px;
  }
  .loginContent{
    position: relative;
    text-align: center;
    /* position: absolute;
    bottom: 5%;
    right: 0%;
    width: 460px;
    z-index: 4; */
  }
  .login_left{
    position: absolute;
    bottom: 78px;
    left: 5%;
    width: 750px;
    font-size: 20px;
    color:#c1c1c1;
      
    
  }
  .login_logo>img{
    width: 150px;
  }
  .form-group{
    margin-top: 42px;
  
  }
  .form_input{
    height: 50px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding-left: 30px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    
  }
  .mt-30{
    margin-top: 30px;
  }
  .otherlogin{
    text-align: center;
    color: #fff;
    font-size:16px;
    padding-top: 40px;
  }
  .btn{
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #d85252;
    border-radius: 4px;
    border: none;
    color: #fff;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
  .pright{
    float: right;
    color: #c1c1c1;
    font-size: 16px;
  }
  .right{
    float: right;
    color: #fff;
    font-size: 16px;
    
  }
}
@media screen and (min-width: 1300px){
  .login_left{
    left:0%;
    width: 750px;
  }
  .loginContent{
    position: relative;
    text-align: center;
  }
}